{
    http_port 8091
    https_port 8092
}

78-47-168-243.sslip.io:8092 {
    tls internal

    handle /api/* {
        reverse_proxy api:3000
    }

    handle {
        root * /srv/web
        header Cache-Control "no-cache, must-revalidate"
        try_files {path} /index.html
        file_server
    }
}
